/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #0a4371;
  --ifm-color-primary-dark: #093c66;
  --ifm-color-primary-darker: #083960;
  --ifm-color-primary-darkest: #072f4f;
  --ifm-color-primary-light: #0b4a7c;
  --ifm-color-primary-lighter: #0c4d82;
  --ifm-color-primary-lightest: #0d5793;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #4a9fd8;
  --ifm-color-primary-dark: #328fcc;
  --ifm-color-primary-darker: #2d86c2;
  --ifm-color-primary-darkest: #256fa0;
  --ifm-color-primary-light: #62afe4;
  --ifm-color-primary-lighter: #6fb8e8;
  --ifm-color-primary-lightest: #8dc8ed;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}